<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="bia_namur_testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="BIA_AI_MOCK_MODE" value="true"/>
        <env name="ANTHROPIC_API_KEY" value="sk-ant-test-fake"/>
        <env name="BIA_PUSH_ENABLED" value="true"/>
        <env name="BIA_PUSH_FAKE" value="true"/>
        <env name="BIA_VAPID_PUBLIC_KEY" value="BIOcMpkr6wbjv3CZ9Ng59M-DqxVi9JWx5IJ8v70MbADmpcmEt15nU_lRQnuyK3Jnx-3vifL8yiVqBTJvsMPA7jc"/>
        <env name="BIA_VAPID_PRIVATE_KEY" value="GeqgycK_5QPSWw3C-3t6wUf5gbU90yihTrmvTJpEGF8"/>
        <env name="BIA_VAPID_SUBJECT" value="mailto:test@bianamur.be"/>
    </php>
</phpunit>
